.myproject-edit {
	display: flex;
	flex-flow: column wrap;
}

.myproject-edit-gitlab {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: center;
	align-items: center;
	align-content: flex-start;
}
.myproject-edit-scm-router-link {
	align-self: flex-end;
	color: black;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 10px 30px 0px 0px;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
}

.myproject-edit-scm-router-link span {
	margin-right: 5px;
	font-size: 18px;
}
