#path {
	margin-bottom: 15px;
}

#path a {
	display: none;
	text-decoration: none;
	color: black;
}

#path a.router-link-active {
	display: inline-block;
}

#path a.router-link-exact-active {
	pointer-events: none;
	cursor: default;
}
