.info-table {
	display: flex;
	flex-flow: column nowrap;
	border-spacing: 0px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 5px;
	overflow: hidden;
	border-collapse: collapse;
}

.info-table-th {
	display: flex;
}

.info-table-th .info-table-td {
	font-weight: 500;
	background-color: #f9f9f9;
}

.info-table-tr {
	display: flex;
	flex: 1 0 auto;
}

.info-table-td {
	flex: 1 0 0;
	padding: 15px;
	display: flex;

	justify-content: center;
	align-items: center;
	word-break: break-word;
}

.info-table-no-list {
	padding: 30px 0px;
	align-self: center;
	display: flex;
}

.info-table-no-list img {
	height: 120px;
}

.info-table-no-list span {
	align-self: center;
	margin-left: 10px;
}
