.detail-table-tr:nth-child(1) {
	grid-column: span 1;
}

.detail-table-tr:nth-child(2) {
	grid-column: span 1;
}

.detail-table-tr:nth-child(3) {
	grid-column: span 1;
}

.detail-table-tr:nth-child(4) {
	grid-column: span 3;
}
