.search-bar-div {
	padding: 20px 0px;
}

/* .oss-table-thead > th:nth-child(1) {
	flex-grow: 2;
}

.oss-table-tr > td:nth-child(1) {
	flex-grow: 2;
} */

.oss-table-thead > th:nth-child(2) {
	flex-grow: 2;
}

.oss-table-tr > td:nth-child(2) {
	flex-grow: 2;
}
