.verifycard {
  box-shadow: 0 6px 15px 0 rgba(36, 37, 38, 0.08);
  width: 600px;
  height: 350px;
  display: flex;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.verifycard-aside,
.verifycard-main {
  padding: 1.5em;
}

.verifycard-main {
  width: 90%;
}
.verifycard-aside {
  background-image: linear-gradient(180deg, #21c8f6, #637bff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: white;
}

.verifycard-aside-detail {
  justify-content: space-between;
}

.verifycard-skill {
  text-decoration: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  border-radius: 100px;
  padding: 4px 10px;
}

.verifycard-skill-s {
  text-decoration: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.1);
  width: 30%;
  font-size: 0.8em;
  border-radius: 100px;
  padding: 4px 10px;
  margin: auto;
}

.verifycard-difficulty {
  color: inherit;
  font-size: 2.5em;
}

.verifycard-main {
  color: #888888;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.verifycard-title {
  color: #222;
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}

.verifycard-excerpt {
  margin-bottom: auto;
  font-size: 1em;
}

.verifycard-excerpt-s {
  margin-bottom: auto;
  font-size: 0.8em;
  font-weight: 100;
}

.verifycard-title > a {
  color: inherit;
  text-decoration: none;
}

.verifycard-meta {
  margin-bottom: auto;
  font-size: 1em;
  white-space: nowrap;
  display: flex;
  margin: auto;
}

.verifycard-btn {
  cursor: pointer;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1em;
  border-radius: 10px;
  padding: 8px 12px;
  margin: auto;
}

.verifycard-meta > div:first-child {
  margin-right: 1em;
}

.verifycard-main-first {
  padding-top: 10px;
  padding-bottom: 20px;
}

.verifycard-main-second {
  padding: 10px 0px;
}

.verifycard-main-third {
  padding-top: 20px;
  padding-bottom: 31px;
}

.vc-btn-detail {
  padding: 10px 6px;
  vertical-align: top;
}
