.container {
	margin: 20px 30px;
}

.license-title-div {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 10px;
}

.license-title {
	/* flex: 1 0 0; */
	display: inline;
	border-bottom: 1px solid black;
	/* width: 160px; */
	height: 24px;
}

.license-add-button {
	text-decoration: none;
	color: black;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: white;
	border-radius: 9px;
	border: 1px solid #eee;
	font-weight: 500;
	font-size: small;
}

.license-table {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.license-table td {
	margin: 0 5px;
	text-align: center;
}

.license-table-th {
	flex: 1 0 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: center;
	background-color: #00a3e2;
	border-radius: 9px;
	color: white;
	font-weight: 500;
	padding: 8px 0px;
	letter-spacing: 0.03em;
	word-break: break-all;
}

.license-table-th td {
	flex: 1 0 0;
}

.license-table-tr {
	flex: 1 0 0;
	padding: 13px;
	border-radius: 9px;
	display: flex;
	align-items: center;
	align-content: center;
	transition: all 0.4s;
	font-size: medium;
	font-weight: 300;
	margin-top: 5px;
	cursor: pointer;
	position: relative;
}

.license-table-tr:hover {
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.license-table-tr td {
	flex: 1 0 0;
	word-break: break-word;
}

.license-pagination {
	margin-top: 20px;
}

.license-table-tr.illegal::before {
	content: "";
	position: absolute;
	width: 7px;
	height: 100%;
	top: 0;
	left: -20px;
	border-radius: 9px;
	background: red;
	box-shadow: 0 0 5px red;
}

.license-table-tr.illegal.noComment::before {
	background: orange;
	box-shadow: 0 0 5px orange;
}
