.myproject-title-div {
	margin: 15px 0px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.myproject-edit-router-link {
	color: black;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.myproject-edit-router-link span {
	margin-right: 5px;
	font-size: 18px;
}

.verify-header {
	border: solid 1px #eee;
}

.verify-body {
	padding-top: 30px;
	display: flex;
}
