.repository-card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin: 20px 20px 10px;
    width: 250px;
    height: 70px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px #ddd;
}

/* .repository-card:hover {
    box-shadow: 0px 4px 5px #ccc;
} */

.back-button-area {
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 30px;
    height: 70px;
    background-color: #eee;
    z-index: 1;
}

.back-button-area.added {
    background-color: rgba(119, 201, 119);
}

.icon {
    position: relative;
    top: 50%;
    left: 50%;
    color: #bbb;
    transform: translate(-50%, -50%);
}

.back-arrow-icon {
    left: 70%;
}

.icon:hover {
    color: #999;
}

.done-icon {
    color: green;
}

#repository-name {
    position: absolute;
    z-index: 2;
    font-weight: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scm-icon {
    position: absolute;
    right: -50px;
    top: 50%;
    margin-top: -60px;
    opacity: 0.3;
    width: 120px;
    height: 120px;
    z-index: 1;
}
