.depart-status-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 20px 0;
}

.panel {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 22%;
  height: 140px;
  margin: 10px;
  font-size: 27px;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  border-radius: 8px;
  .status-title {
    position: relative;
    display: block;
    padding: 2px 25px;
    color: #fff;
    text-decoration: none;
    z-index: 2;
    span {
      display: block;
      font-size: 91px;
      font-weight: 700;
      line-height: 90px;
    }
  }
  &:after {
    position: absolute;
    font-family: 'Material Icons';
    color: rgba(0, 0, 0, 1);
    z-index: 1;
    transition: all 0.5s;
    line-height: normal;
  }
  &.project {
    background-color: #af64cc;
    &:after {
      content: '\e873';
      font-size: 200px;
      color: darken(#af64cc, 4%);
      top: 45px;
      right: 60px;
    }
    &:hover:after {
      top: 8px;
    }
  }
  &.opensource {
    background-color: #27ae60;
    &:after {
      content: '\e8ef';
      font-size: 180px;
      color: darken(#27ae60, 4%);
      top: 30px;
      right: 35px;
    }
    &:hover:after {
      top: -5px;
    }
  }
  &.license {
    background-color: #e67e22;
    &:after {
      content: '\ef76';
      font-size: 160px;
      color: darken(#e67e22, 4%);
      top: 62px;
      right: 39px;
    }
    &:hover:after {
      top: 24px;
    }
  }
  &.warning {
    background-color: #e74c3c;
    &:after {
      content: '\e8b2';
      font-size: 200px;
      color: darken(#e74c3c, 8%);
      top: 45px;
      right: 35px;
    }
    &:hover:after {
      top: 7px;
    }
  }
  &:hover:after {
    transition: all 0.5s;
  }
}
