#oss-list-title {
	margin-top: 15px;
}

.list-button-div {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.list-button-div a {
	padding: 10px 25px;
	background-color: rgb(243, 243, 243);
	border: 1px solid #eee;
	border-radius: 5px;
	text-decoration: none;
	color: black;
}

.list-button-div a.router-link-active {
	background-color: #153081;
	border: 1px solid #153081;
	color: white;
}
