.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(#00a3e2, #153081);
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  margin: 0px 10px;
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  border-radius: 50px;
  background-color: #0ba7dd;
  color: #f1f1f1;
}
