.myproject-title-div {
	margin: 15px 0px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.myproject-edit-router-link {
	color: black;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.myproject-edit-router-link span {
	margin-right: 5px;
	font-size: 18px;
}

.verify-header {
	border: solid 1px #eee;
}

.verify-search-div {
	margin-top: 30px;
}

.verify-body {
	padding-top: 30px;
	display: flex;
	flex-flow: row wrap;
}

.infinite-loading-message {
	margin-bottom: 30px;
}

.last-list-button {
	width: 140px;
	padding: 10px;
	cursor: pointer;
	font-size: medium;
	font-weight: 700;
	border: 1px solid #eee;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 4px 5px #ddd;
	transition: all 0.3s ease;
}

.last-list-button:hover {
	box-shadow: 0px 4px 5px #ccc;
}
