.my-project-result-head {
	margin: 15px 0px 30px 0px;
}

#my-project-result-tab {
	margin-top: 0px;
}

.my-project-info-weburl {
	color: #bbb;
	font-size: small;
}

.my-project-info-branch {
	cursor: default;
	background-color: #eee;
	border: 1px solid #ddd;
	font-size: small;
	border-radius: 5px;
	padding: 3px 5px;
	margin-left: 5px;
}

.my-project-status{
  display: inline-block;
  background-color: rgba(255, 166, 0, 0.6);
  border:1px solid rgb(253, 190, 72);
  border-radius: 5px;
  padding: 0px 5px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}